<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body bgcolor="#8b4c5d">

<tr th:each="doctor: ${doctors}">
    <label>Name:</label>
    <td th:text="${doctor.name}"/>
    <label>Surname:</label>
    <td th:text="${doctor.surname}"/>
    <label>Age:</label>
    <td th:text="${doctor.age}"/>
    <label>Specialization:</label>
    <td th:text="${doctor.specialization}"/>
</tr>
<select id="list">

    <option value=""> </option>
    <option value="/add/patients">Add patient</option>
    <option value="/add/doctors">Add doctor</option>
    <option value="/add/visits">Add visit</option>
    <option value="/patients">All patients</option>
    <option value="/doctors">All doctors</option>
    <option value="/visits">All visits</option>

</select>
<script>
    document.getElementById("list").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }
    };
</script>
</body>
</html>