<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body bgcolor="#8b4c5d">
<table>
<thead>
<tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Specialization</th>
    <th>Show</th>
    <th>Delete</th>
    <th>Edit</th>
</tr>
</thead>
<tbody>
<tr th:each="doctor: ${doctors}">
    <td th:text="${doctor.name}"/>
    <td th:text="${doctor.surname}"/>
    <td th:text="${doctor.specialization}"/>
    <td><a th:href="@{'/doctors/'+${doctor.id}}"> <img src="info.png"></a></td>
    <td><a th:href="@{'/doctors/'+${doctor.id}+'/delete'}">  <img src="trash.png"></a></td>
    <td><a th:href="@{'/doctors/'+${doctor.id}+'/edit'}">  <img src="edit.jpg"> </a></td>
</tr>
</tbody>
</table>

<select id="list">

    <option value=""> </option>
    <option value="/add/patients">Add patient</option>
    <option value="/add/doctors">Add doctor</option>
    <option value="/add/visits">Add visit</option>
    <option value="/patients">All patients</option>
    <option value="/doctors">All doctors</option>
    <option value="/visits">All visits</option>

</select>
<script>
    document.getElementById("list").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }
    };
</script>

</body>
</html>