<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:fmt="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body bgcolor="#ff8c00">
<form th:action="@{/visits}" th:method="post" th:object="${visit}">
    <input type="hidden" th:field="*{id}">
    <label>Patient:</label>
    <select th:field="*{patient}">
        <option th:each="patient: ${patients}" th:value="${patient.id}"
                th:text="${patient.fullNamePatient()}"/>
    </select>
    <label>Doctor:</label>
    <select th:field="*{doctor}">
        <option th:each="doctor: ${doctors}" th:value="${doctor.id}"
                th:text="${doctor.fullName()}"/>
    </select>
    <label>Date of the visit:</label>
    <input type="date" th:value="${visit.dateOfTheVisit}"
           th:field="*{dateOfTheVisit}">

    <input type="submit" value="Save">

</form>
<select id="list">

    <option value=""> </option>
    <option value="/add/patients">Add patient</option>
    <option value="/add/doctors">Add doctor</option>
    <option value="/add/visits">Add visit</option>
    <option value="/patients">All patients</option>
    <option value="/doctors">All doctors</option>
    <option value="/visits">All visits</option>

</select>
<script>
    document.getElementById("list").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }
    };
</script>
</body>
</html>